hr{
    margin: 0;
}
.rodape{
    background-color: var(--cor-primaria);
    padding: 1em;
}
/*  começo da configuraçao do width 1024px */
.lista__rodape{
    display: none;
}
@media screen and (min-width:1024px){
    .rodape{
        display: flex;
       justify-content: space-around;
       padding: 3em 0;
        
    }
    .lista__rodape{
        display: block;
        
    }
    .lista__rodape__item{
        margin-top: 1em;
       display: flex;
       align-items: center;
        
    }
    .rodape__titulo{
        font-size: 24px;
        
    }
    .lista__rodape__titulo{
        text-transform: uppercase;
        padding-bottom: 1em;
        color: var(--cinza);
        font-size: 14px;
    }
    .lista__rodape__link{
        text-decoration: none;
        padding-left: 0.5em;
        color: var(--cinza-escuro);
        font-size: 14px;
        
    }
}
@media screen and (min-width:1728px) {
    .rodape{
        padding: 3em ;
    }
    .lista__rodape{
        border-left: 1px solid var(--cinza);
        padding-left: 1em;
    }
}